<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Dashboard">
	<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

	<title>CMS | User Registration</title>
	<!-- Bootstrap core CSS -->
	<link th:href="@{/user/assets/css/bootstrap.css}" rel="stylesheet">
	<!--external css-->
	<link th:href="@{/user/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link th:href="@{/user/assets/css/style.css}" rel="stylesheet">
	<link th:href="@{/user/assets/css/style-responsive.css}" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


	<style>
		.error{
			color:red;
		}
	</style>

</head>

<body>
<div th:replace="index-fragments :: index"></div>

	<div id="login-page">
		<div class="container">


			<form id="register" class="form-login" method="post" th:action="@{/new-user}">
				<h2 class="form-login-heading">User Registration</h2>
				<!-- <p style="padding-left: 1%; color: green">
				</p> -->
				<div class="login-wrap">
					<input type="text" class="form-control" placeholder="Full Name" name="name"  autofocus>
					<br>
					<input type="email" class="form-control" placeholder="Email Address" id="email" onBlur="userAvailability()" name="email">
					<span id="email-error" class="text-danger" style="font-size:12px;"></span>
					<br>
					<input type="password" class="form-control" placeholder="Password" id="password" name="password"><br>

					<input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password" name="confirm_password"><br>

					<input type="text" class="form-control" maxlength="10" name="contactNo" placeholder="Contact no" autofocus>
					<br>

					<select type="gender" class="form-control" placeholder="Gender" id="gender" name="gender" >
						<option th:each="gender : ${genderType}"
								th:text="${gender.value}"
								th:value="${gender}">Male</option>

					</select>
					<span id="user-availability-status1" style="font-size:12px;"></span>
					<br>
					<input type="city" class="form-control" placeholder="City" id="city" onBlur="userAvailability()" name="city">
					<span id="user-availability-status1" style="font-size:12px;"></span>
					<br>

					<button class="btn btn-theme btn-block" type="submit" name="submit" id="submit"><i class="fa fa-user"></i>
						Register</button>
					<hr>

					<div class="registration">
						Already Registered<br />
						<a class="" th:href="@{/}">
							Sign in
						</a>
					</div>

				</div>



			</form>
		</div>
	</div>

<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{/user/assets/js/jquery.js}"></script>
<script th:src="@{/user/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/validator/jquery.validate.min.js}"></script>
<script th:src="@{/assets/js/validator/register-validator.js}"></script>

<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" th:src="@{/user/assets/js/jquery.backstretch.min.js}"></script>
<script>
	$.backstretch("assets/img/login-bg.jpg", { speed: 500 });
</script>



<script>
		$("#email").blur(function () {

			var email=$("#email").val();

			console.log(email);

			$.ajax({
				url:"/validate-email",
				data:"email="+email,
				success:function (result) {

					console.log(result);
					if(result=="Duplicate"){

						$("#email-error").html("Email already registered");
						$("#email").focus();

					}
					else{
						$("#email-error").html("");

					}
					
				}
			});
			
		});
	</script>


</body>

</html>