<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User| Complaint Details</title>
	<link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link type="text/css" href="css/theme.css" rel="stylesheet">
	<link type="text/css" href="images/icons/css/font-awesome.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script th:replace="police/fragments :: pop-up"> </script>

	<style>
		.error{
			color:red;
		}
	</style>

</head>

<body>

<div th:replace="user/user-fragments :: user-nav"></div>



	<div class="wrapper">
		<div class="container">
			<div class="row">

				<div th:replace="user/user-fragments :: user-sidebar"></div>

				<div class="span9">
					<div th:if="${success == true}" class="alert alert-success">Complain added successfully</div>
					<div th:if="${success == false}" class="alert alert-danger">Something went wrong</div>

					<div class="content">

						<div class="module">
							<section class="content-header">
								
								<div class="header-title">
									<h1>Register Complaint</h1>
									<small></small>
								</div>

								<form id="complain-form" th:action="@{/user-new-complain}" enctype="multipart/form-data" method="post" accept-charset="utf-8">

									<input type="hidden" class="form-control1" name="userID"  aria-describedby="subjectHelp" th:value="${session.userNo}">

									<div class="form-group">
										<label >Complain Subject *</label>
										<input type="text" class="form-control1" name="subject" id="subject" aria-describedby="subjectHelp" placeholder="Enter subject">
										<small id="subjectHelp" class="form-text text-muted">Please provide a suitable heading</small>
									</div>

									<div class="form-group">
										<label >Location *</label>
										<select type="location" class="form-control" placeholder="location" id="location" name="location" >
											<option th:each="location : ${locations}"
													th:text="${location.value}"
													th:value="${location}"></option>

										</select>									</div>

									<div class="form-group">
										<label >Description *</label>
										<textarea class="form-control1" name="description" id="description" rows="5"></textarea>
										<small id="descriptionHelp" class="form-text text-muted">Please provide brief description</small>
									</div>
									<br />

									<div class="form-group">
										<label >Attachment </label>
										<input type="file" name="attachment" class="form-control-file" id="exampleFormControlFile1">
									</div>
									<br />

									<button type="submit" style="width:50%" class="btn btn-primary">Submit</button>
									<button type="reset" style="width:15%" class="btn btn-danger">Reset</button>
								</form>
							</section>

							
							
							</div>
						</div>



					</div>
					<!--/.content-->
				</div>
				<!--/.span9-->
			</div>
		</div>
		<!--/.container-->
	</div>
	<!--/.wrapper-->

	<script src="../scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="../scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
	<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../scripts/flot/jquery.flot.js" type="text/javascript"></script>
	<script src="../scripts/datatables/jquery.dataTables.js"></script>

	<script th:src="@{/assets/js/validator/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/js/validator/complain-validator.js}"></script>
	<script>
		$(document).ready(function () {
			$('.datatable-1').dataTable();
			$('.dataTables_paginate').addClass("btn-group datatable-pagination");
			$('.dataTables_paginate > a').wrapInner('<span />');
			$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
			$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
		});
	</script>
	<div class="footer ">
		<div class="container pull-right ">
			<b class="copyright">&copy; 2019 PCMS </b> All rights reserved.
		</div>
	</div>
</body>