<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:fragment="pop-up" language="javascript" type="text/javascript">
        var popUpWin = 0;
        function popUpWindow(URLStr, left, top, width, height) {
            if (popUpWin) {
                if (!popUpWin.closed) popUpWin.close();
            }
            popUpWin = open(URLStr, 'popUpWin', 'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=no,copyhistory=yes,width=' + 600 + ',height=' + 600 + ',left=' + left + ', top=' + top + ',screenX=' + left + ',screenY=' + top + '');
        }

    </script>
</head>
<body>

<div th:fragment="police-nav" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i>
            </a>

            <a class="brand" href="index.html">
                PCMS | Police
            </a>

            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav pull-right">
                    <li><a href="#">
                        Police
                    </a></li>
                    <li class="nav-user dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../images/user.png" class="nav-avatar" />
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- <li><a href="change-password.html">Change Password</a></li> -->
                            <!-- <li class="divider"></li> -->
                            <li><a th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->



<div th:fragment="side-bar" class="wrapper">
    <div class="container">
        <div class="row">

            <div class="span3">
                <div class="sidebar">


                    <ul class="widget widget-menu unstyled">
                        <li>
                            <a class="collapsed" data-toggle="collapse" href="#togglePages">
                                <i class="menu-icon icon-cog"></i>
                                <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>
                                Manage Complaint
                            </a>
                            <ul id="togglePages" class="collapse unstyled">

                                <li>
                                    <a th:href="@{/police-ongoing-complains?id=1}">
                                        <i class="icon-tasks"></i>
                                        Ongoing Complaint


                                        <b class="label orange pull-right">10</b>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/police-closed-complains?id=1}">
                                        <i class="icon-tasks"></i>
                                        Closed Complaints


                                        <b class="label orange pull-right">5</b>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a th:href="@{/police-view-users}">
                                <i class="menu-icon icon-group"></i>
                                Manage users
                            </a>
                        </li>



                    </ul>


                    <!-- <ul class="widget widget-menu unstyled">
                                    <li><a href="category.html"><i class="menu-icon icon-tasks"></i> Add Category </a></li>

                                    <li><a href="location.html"><i class="menu-icon icon-paste"></i>Add Location</a></li>


                                </ul>/.widget-nav -->

                    <ul class="widget widget-menu unstyled">


                        <li>
                            <a th:href="@{/logout}">
                                <i class="menu-icon icon-signout"></i>
                                Logout
                            </a>
                        </li>
                    </ul>

                </div>
                <!--/.sidebar-->
            </div>
            <!--/.span3-->

</body>
</html>